
.icon-home:before { content: '\e800'; } /* '' */
.icon-clock-1:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-chart-line:before { content: '\e804'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
