/*
    font-family: "Reem Kufi Fun", sans-serif;
    font-family: "Kanit", sans-serif;
    font-family: "Roboto", sans-serif;


zielony: #00ff37
fiolety: #cf04bea8
czarny: #0c0c0c
rozbialy : #FFF7FC
bialy: #F6F5F2
*/

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #cf04be;
}
::-webkit-scrollbar-thumb:hover {
    background: #cf04be; 
}
@media (min-width: 700px){
    body{
        margin: 0;
        padding: 50px 0;
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
        background: rgb(15,15,15);
        background: linear-gradient(45deg, rgba(15,15,15,1) 23%, rgba(12,12,12,1) 100%);
        font-family: "Reem Kufi Fun", sans-serif;
        color: #F6F5F2;
        text-align: center;
        box-sizing: border-box;
    }
    h1{
        font-size: 3em;
        position: relative;
        display: inline-block;
    }
    h1::before{
        content: '';
        width: 10%;
        height: 2px;
        background-color: #00ff37;
        position: absolute;
        top: 0px;
        transform: skewY(-5deg) translateX(5px);
        right: 0px;
    }
    h1::after{
        content: '';
        width: 15%;
        transform: skewY(5deg)  translateX(-5px);
        height: 2px;
        background-color: #cf04be;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    p{
        letter-spacing: 2px;
    }
    a:hover{
        color: #cf04be;
        transition: all .5s linear;
        background-image: repeating-linear-gradient(
            90deg,
            transparent,
            transparent 30px,
            rgb(26, 25, 25) 30px,
            rgb(26,26,26)60px
        );
    }
    body>div{
        display: flex;
        justify-content: center;
        height: 60vh;
    }
    body>div>a{
        display: inline-block;
        width: 30%;
        padding-top: 10%;
        height: 60%;
        transition: all .5s linear;
        font-size: 5em;
        color: #F6F5F2;
        text-decoration: none;
        margin: 20px;
        background-color: transparent;
        border: 2px solid #cf04be;
    }
    a>div{
        width: 100%;
        height: 100%;
    }
    a>div>h3{
        font-size: 30px;
        color: #00ff37;
        filter: drop-shadow(2px 2px 0px #cf04be);
    }
    a>div>p{
        font-size: 30px;
    }
    p>a:hover{
        background-color: transparent;
        color: #00ff37;
    }
    p>a{
        color: #cf04be;
        text-decoration: none;
        margin: 20px;
        font-size: 25px;
    }
}
@media (max-width: 700px){
    body{
        margin: 0;
        padding: 50px 0;
        overflow-x: hidden;
        width: 100vw;
        background: rgb(15,15,15);
        background: linear-gradient(45deg, rgba(15,15,15,1) 23%, rgba(12,12,12,1) 100%);
        font-family: "Reem Kufi Fun", sans-serif;
        color: #F6F5F2;
        text-align: center;
        box-sizing: border-box;
    }
    h1{
        font-size: 3em;
        position: relative;
        display: inline-block;
    }
    h1::before{
        content: '';
        width: 10%;
        height: 2px;
        background-color: #00ff37;
        position: absolute;
        top: 0px;
        transform: skewY(-5deg) translateX(5px);
        right: 0px;
    }
    h1::after{
        content: '';
        width: 15%;
        transform: skewY(5deg)  translateX(-5px);
        height: 2px;
        background-color: #cf04be;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    p{
        letter-spacing: 2px;
    }
    a:hover{
        color: #cf04be;
        transition: all .5s linear;
        background-image: repeating-linear-gradient(
            90deg,
            transparent,
            transparent 30px,
            rgb(26, 25, 25) 30px,
            rgb(26,26,26)60px
        );
    }
    body>div>a{
        display: block;
        width: 90%;
        padding-top: 10%;
        height: 70%;
        transition: all .5s linear;
        font-size: 5em;
        color: #F6F5F2;
        text-decoration: none;
        margin: 20px;
        background-color: transparent;
        border: 2px solid #cf04be;
    }
    a>div{
        width: 100%;
        height: 100%;
    }
    a>div>h3{
        font-size: 30px;
        color: #00ff37;
        filter: drop-shadow(2px 2px 0px #cf04be);
    }
    a>div>p{
        font-size: 25px;
    }
    p>a:hover{
        background-color: transparent;
        color: #00ff37;
    }
    p>a{
        color: #cf04be;
        text-decoration: none;
        margin: 20px;
        font-size: 25px;
    }
}
